body {
    /*background-color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)) !important;*/
    background: linear-gradient(135deg, #9d50bb, #6e48aa, #8e2de2, #4a00e0, #ff0080);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: white; 
    padding: 1.5rem; 
    border-radius: 0.5rem;

    
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

#title {
    color: yellow;
    text-align: center;
    margin-top: 50px;
    font-size: 70px;
}

#createAcct, #loginLink {
    color: yellow;
    text-align: center;


}

.inputField {
    border-radius: 30px;
}

.formContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.inputLabels {
    color: yellow;
    text-align: center;
    font-size: 18px;
}

#loginLinkActual {
    color: white;
    
}


